
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}  

@font-face {
  font-family: 'gilroy-regular';
  src:url('../fonts/gilroy-regular.eot?-kwf309');
  src:url('../fonts/gilroy-regular.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/gilroy-regular.woff?-kwf309') format('woff'),
    url('../fonts/gilroy-regular.ttf?-kwf309') format('truetype'),
    url('../fonts/gilroy-regular.svg?-kwf309#AA-gilroy-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}  


@font-face {
  font-family: 'gilroy-medium';
  src:url('../fonts/gilroy-medium.eot?-kwf309');
  src:url('../fonts/gilroy-medium.eot?#iefix-kwf309') format('embedded-opentype'),
    url('../fonts/gilroy-medium.woff?-kwf309') format('woff'),
    url('../fonts/gilroy-medium.ttf?-kwf309') format('truetype'),
    url('../fonts/gilroy-medium.svg?-kwf309#AA-gilroy-medium') format('svg');
  font-weight: normal;
  font-style: normal;
}  


* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;

}

body {
  font-size: 16px;
  margin: 0;
  color:#1A1A1A;
  font-family: "Inter", sans-serif;
}

a {color: #1A1A1A;}
a:hover {color: #1A1A1A;}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  position: relative;
}

.items_center {
  align-items: center;
}

.between {
  justify-content: space-between;
}

.end {
  justify-content: flex-end;
}

.justify_center {
  justify-content: center;
}

.flex_wrap {
  flex-wrap: wrap;
}

/* :before {
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  content: '';
  background: url(../img/) 0 0 no-repeat;
} */

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}


button {
  border:none;
  background: none;
  box-shadow: unset;
  cursor: pointer;
}

button:focus {
  outline: none;
  box-shadow: unset;
}

img {
  max-width: 100%;
  height: auto;
}


header {
  padding: 16px 0 16px 0;

  box-shadow:0 4px 10px 0 rgba(49, 27, 58, 0.05);
}

.logo {

}


.menu__top {
  display: flex;
}

.menu__top li {
  padding: 0 13px;
}

.menu__top li a {
  position: relative;
  text-decoration: none;
  font-weight: 300;
}

.menu__top li a::before {
  position: absolute;
  bottom:-2px;
  left: 0;
  width: 0;
  height: 1px;
  content: '';
  background: #8E26B8;

}

.menu__top li a:hover::before {
  width: 100%;
  transition: 0.3s;
}

.menu__top li a:hover {
  transition: 0.3S;
  color: #8E26B8;
}

.open__top {
  padding: 12px 27px 10px 27px;
  border:1px solid #D6D6D6;
}

.open__top:hover {
  transition: 0.3s;
  color: #FFF;
  background: linear-gradient(90.48deg, rgba(202, 81, 251, 1) 0%, rgba(155, 47, 198, 1) 58.99999737739563%, rgba(142, 38, 184, 1) 100%);
}

.head__section {
  position: relative;
  padding: 63px 0 61px 0;
  
  background: var(
    --7,
    linear-gradient(
      104.52deg,
      rgba(248, 249, 255, 1) 0%,
      rgba(231, 233, 246, 1) 100%
    )
  );
}

.head__section:before {
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  content: '';
  background: url(../images/diagram.svg) 95% 100% no-repeat;
} 

h1 {
  font-size: 42px;
  font-weight: 400;
  margin:0 0 50px 0;
}



h1 span {
  color: #8E26B8;
}



.head__media_wrap {
  width: 870px;
  position: relative;
  z-index: 1;
}

.head__media_block {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}

.head__media_inner {
  display: flex;
  align-items: center;
  width: 50%;
}

.head__media_icon {
  margin: 0 14px 0 0;
}

.head__media_text {
  font-size: 26px;
  font-family: 'gilroy-medium';
  margin: 0 30px 0 0;
}

.head__media_text2 {
  font-size: 26px;
  font-family: 'gilroy-medium';
  margin: 0 0 0 0;
}

.btn__head {
  margin: 40px 0 0 0;
}


h2 {
  font-size: 42px;
  font-weight: 400;
  margin:0 0 40px 0;
}

h2 span {
  color: #8E26B8;
}

.what__section {
  padding: 52px 0 88px 0;
}

.what__wrap {
  display: flex;
  margin: 0 -15px;
}

.what__block {
  width: 33.3333333333%;
  padding: 0 15px 0 15px;
}

.what__block_inner {
  padding: 14px 40px 30px 40px;
    position: relative;
    border-image: linear-gradient(to right, #F11287 10%, #0E7FF9 100%) 1;
   

    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    height: 212px;
    box-shadow:0 4px 10px 0 rgba(49, 27, 58, 0.1);
}

.what__title {
  font-size: 22px;
  font-weight: 400;
  margin: 20px 0 10px 0;
}

.what__body {
  font-weight: 300;
}

.our {
  padding: 42px 0 0 0;
  background: var(
    --7,
    linear-gradient(
      104.52deg,
      rgba(248, 249, 255, 1) 0%,
      rgba(231, 233, 246, 1) 100%
    )
  );
}

.our__wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -9px;
} 

.our__block {
  width: 50%;
  padding: 0 18px;
  margin: 0 0 20px 0;
}

.our__block2 {
  width: 50%;
}



.our__inner {
  position: relative;
  background: #fff;
  border-radius: 6px;
  padding: 34px 47px 0px 47px;
  overflow: hidden;
  font-family: 'gilroy-medium';
  font-size: 26px;
  height: 160px;
  /* display: flex; */
  align-items: center;
  flex-wrap: wrap;
}

.our__inner3 {
  padding: 50px 47px 0px 47px;
}

.our__inner::before {
  position: absolute;
  top:0;
  width: 11px;
  left: 0;
  bottom: 0;
  content: '';
  background: url(../images/bg-our.svg) 0 0 repeat-x;
} 


.our__inner2 {
  text-align: right;
  margin: 0 0 -4px 0;
}

.our__inner span {
  color: #8E26B8;
  margin: -80px 0 0px 0;
}


.form__section {
  padding: 75px 0 65px 0;
}

.form__wrap {
  width: 820px;
  margin: 0 auto;
  box-shadow: var(--3-box-shadow, 0rem 0rem 1rem 0rem rgba(41, 36, 179, 0.14));
  padding: 58px 106px 40px 106px;
  border-radius: 10px;
}

.form__title {
  font-size: 22px;
  margin: 0 0 28px 0;
  font-family: 'gilroy-medium';
}


.etap {
  background: url(../images/etap-bg.svg) center 0 no-repeat;
    
  padding: 70px 0 50px 0;
  margin-bottom: 101px;
}


.etap .container {
  
}


.etap__wrap {
  display: flex;
  flex-wrap: wrap;
  width: 816px;
  margin: 0 -16px;
}



.etap__block {
  width: 50%;
  padding: 0 16px;
  margin-bottom: 16px;
}

.etap__inner {
  box-shadow: 0rem 0.25rem 0.5rem 0rem rgba(49, 27, 58, 0.1);
  padding: 15px 20px;
  background: #FFFFFF;
  height: 176px;
}

.etap__number {
  margin-bottom: 10px;
}

.etap__line {
  margin-bottom: 10px;
}

.etap__title {
  font-weight: 300;
}


.quest {
  background: var(
    --7,
    linear-gradient(
      104.52deg,
      rgba(248, 249, 255, 1) 0%,
      rgba(231, 233, 246, 1) 100%
    )
  );
  padding: 68px 0;
  margin-bottom: 100px;
}

.quest__body {
  font-weight: 300;
  margin: -20px 0 40px 0;
}

.quest__wrap {
  display: flex;
  align-items: center;
}

.input__mail {
  border:1px solid #5C5B6B;
  border-radius:  6px;
  padding: 19px 20px 19px 20px;
  background: none;
  font-size: 16px;
  width: 392px;
  margin: 0 30px 0 0;
  color:#5C5B6B;
}

.input__mail:focus {
  outline: none;
}

.input__mail::placeholder {
  color:#5C5B6B
}


.form_input {
  border:none;
  background: #F2F3F7 ;
  width: 100%;
  margin: 0 0 28px 0;
}

.form_input::placeholder {
  color:rgba(92, 91, 107, 1);
}

.form__address {
  margin: 0 -15px;
}

.form__address input {
  margin: 0 15px;
}

.form__info {
  padding: 28px 0 28px 0;
  color: rgba(92, 91, 107, 1);
  margin-bottom: 28px;
  border-bottom: 1px solid rgba(242, 243, 247, 1);
}

.form__check_wrap {
  justify-content: space-between;
}

/*CSS ЧЕКБОКСА*/

.checkbox-main2 {
  display: flex;
  padding-left: 0;
  position: relative;
  height: auto;
  cursor: pointer;
  align-items: center;
  padding: 0 0 0 0;
  
  
}

.checkbox-main2 .checkbox {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  -webkit-box-sizing: border-box;
  position: absolute;
  top: 13px;
  left: 0;
  border: 1px solid #D6D6D6;
  border-radius: 4px;
}

.checkbox-main2 input[type="checkbox"] {
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
}

.checkbox-main2 input[type="checkbox"]:checked ~ .checkbox {
  background: #8E26B8 url(../images/chekbox.svg) 50% 50% no-repeat;
  box-sizing: border-box;
  border: 1px solid #8E26B8;
}

.chekbox-title2 {
  font-size: 12px;
  font-weight: 300;
  padding: 0 0 0 32px;
}

.chekbox-title2 a {
  color: rgba(109, 120, 137, 1);
  text-decoration: none;
}

.chekbox-title2 a:hover {
  text-decoration: underline;
}

.btn {
  cursor: pointer;
  background: linear-gradient(
    90.48deg,
    rgba(202, 81, 251, 1) 0%,
    rgba(155, 47, 198, 1) 58.99999737739563%,
    rgba(142, 38, 184, 1) 100%
  );
  border-radius: 0.375rem;
  color: #fff;
  font-weight: 600;
  text-align: center;
  padding: 1.375rem 0 1.375rem 0;
  width: 279px;
  border:1px solid
}

.btn:hover {
  border-color: #D170F8;
  transition: 0.5s;
  background: none;
  color: #9B2FC6;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

footer {
  padding: 60px 0 60px 0;
  background: #F6F7F9;
}

.ft__wrap {
  margin: 0 0 80px 0;
}

.ft__block {
  display: flex;
}

.ft__inner {
  text-align: right;
  padding: 0 0 0 89px;
}

.ft__inner a {
  color: #212529;
  display: block;
  text-decoration: none;
  font-size: 32px;
  font-weight: 300;
  margin: 0 0 8px 0;
}

.ft__inner span {
  display: block;
  font-size: 18px;
  color: #000;
}


.ft__info {
  color: #2A259A;
  display: block;
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 24px 0;
}

.ft__info:hover {
  text-decoration: none;
}

.ft__info2 {
  margin: 0 0 40px 0;
}

.ft__about {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 40px 0;
}


.ft__about a {
  color: #2A259A;
  font-size: 14px;
  font-weight: 300;
  margin: 0 0 0 0;
}

.ft__about a:hover {
  text-decoration: none;
}

.copyright {
  color: #717171;
  font-size: 14px;
  font-weight: 300;
}



/*BURGER*/

.mt-munu-mb {
	padding: 0 0 0 0;
	/* height: 100%; */
}

.burger {
	position: relative;
	top: 0;
	right: 0;
	display: none !important;
	cursor: pointer;
	padding: 14px 0px 10px 0px;
	z-index: 12;
	display: flex;
	border-radius: 5px;
	margin: 0 0 0 10px;
}
.burger i:nth-of-type(1) {
	display: block;
}
.burger i:nth-of-type(2) {
	display: none;
}
.burger.burger-open {
	color: #2a3255;
}
.burger.burger-open i:nth-of-type(1) {
	display: none;
}
.burger.burger-open i:nth-of-type(2) {
	display: block;
}

.body-open {
	overflow: auto;
}

.mt-mobile {
	position: absolute;
	top: 0;
	z-index: 11;
	left: 0;
	right: 0px;
	height: 100%;
	width: auto;
	padding: 87px 15px 27px 15px;
	background: #fff;
	backdrop-filter: blur(12px);
	transition: 0.5s ease all;
	clip-path: circle(100%);
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: self-start; */
}

.mt-mobile.nav-open {
	clip-path: circle(0px at 100% 0px);
}

.header-navigation {
	overflow: auto;
}

.burger {
	display: none !important;
}

.mt-munu-mb .header-navigation-wr {
	display: block !important;
	/* height: 90%; */
}

.head__top {
  font-size: 14px;
  text-align: right;
  padding: 8px 0;
  background-color: #F2F3F7;
}

.head__top a {
  text-decoration: none;
}





