




@media screen and (max-width: 1366px) {

}


/* стили для md-устройств */
@media screen and (max-width: 1200px) {
    .what__block_inner {
        height: 238px;
    }

    .head__section {
        position: relative;
        padding: 63px 0 263px 0;
        background: var(--7, linear-gradient(104.52deg, rgba(248, 249, 255, 1) 0%, rgba(231, 233, 246, 1) 100%));
    }
}


/* стили для sm-устройств */
@media screen and (max-width: 1024px) {

  
}

/* стили для sm-устройств */
@media screen and (max-width: 992px) {

    

    .head__top {
        display: none;
    }

    .etap__block {
        width: 50%;
        padding: 0 10px;
        margin-bottom: 16px;
    }

    .quest__wrap form {
        width: 100%;
    }
  

    .head__media_wrap {
        width: 740px;
        position: relative;
        z-index: 1;
    }

    .head__media_icon {
        width: 26px;
    }

    .logo {
        width: 123px;
        margin: 7px 0 0 0;
    }

    .open__top {
        padding: 12px 17px 10px 17px;
        border: 1px solid #D6D6D6;
    }

    .what__block_inner {
        padding: 17px 0px 30px 17px;
    }

    .our__block2 {
        display: none;
    }

    .our__inner3 {
        padding: 31px 47px 0px 32px;
    }

    .our__inner {
        padding: 25px 20px 0px 25px;
        font-size: 24px;
        line-height: 28px;
    }

    .form__wrap {
        width: 100%;
    }

    .etap__wrap {
        display: flex;
        flex-wrap: wrap;
        width: auto;
        margin: 0 -10px;
    }

    .menu__top li {
        padding: 0 5px;
    }

    
.quest__wrap .input__mail {
    border: 1px solid #5C5B6B;
    border-radius: 6px;
    padding: 19px 20px 19px 20px;
    background: none;
    font-size: 16px;
    width: 31.333333%;
    margin: 0 15px 0 0;
    color: #5C5B6B;
}

.quest__wrap .btn {
    width: 31.3333333333%;
}

.form__wrap {
    width: 100%;
    margin: 0 auto;
    box-shadow: var(--3-box-shadow, 0rem 0rem 1rem 0rem rgba(41, 36, 179, 0.14));
    padding: 58px 96px 40px 96px;
    border-radius: 10px;
}

.ft__inner a {
    color: #212529;
    display: block;
    text-decoration: none;
    font-size: 26px;
    font-weight: 300;
    margin: 0 0 8px 0;
}

.logo_bottom {
    width: 176px;
}

.ft__inner {
    text-align: right;
    padding: 0 0 0 39px;
}

.head__section:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: '';
    background: url(../images/diagram.svg) 95% 100% no-repeat;
    background-size: 82%;
}

.etap {
    background: var(--7, linear-gradient(104.52deg, rgba(248, 249, 255, 1) 0%, rgba(231, 233, 246, 1) 100%));
    padding: 70px 0 50px 0;
    margin-bottom: 101px;
}

.head__media_wrap {
    width: 100%;
    position: relative;
    z-index: 1;
}

.head__media_icon {
    width: 11%;
}

.our__block {
    width: 50%;
    padding: 0 8px;
    margin: 0 0 20px 0;
}

.our__wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
}

.what__block {
    width: 33.3333333333%;
    padding: 0 8px 0 8px;
}

.what__wrap {
    display: flex;
    margin: 0 -8px;
}

.our__block3 {
    width: 100%;
}

.our__block3 .our__inner {
    padding: 55px 20px 0px 25px;
}
  

.our__inner3 {
    padding: 42px 20px 0px 25px;
}

.head__media_text {
    font-size: 26px;
    font-family: 'gilroy-medium';
    margin: 0 30px 0 0;
    width: 89%;
}

.head__media_text2 {
    width: 89%;
}

h1 {
    font-family: 'gilroy-medium';
}

.head__media_text3 br {
    display: block !important;
}

.head__media_text br {
    display: none;
}

.what__title {
    font-family: 'gilroy-medium';
    font-size: 20px;
}


}


/* Ipad*/ 
@media screen and (max-width: 768px) {

}


/* Ipad mini*/ 
@media screen and (max-width: 640px) {

    .head__media_text br {
        display: block;
    }

    .head__media_text3 br {
        display: block !important;
    }

    header {
        padding: 0px 0 0px 0;
        box-shadow: 0 4px 10px 0 rgba(49, 27, 58, 0.05);
    }

    
    .menu__top {
        display: none;
    }

    .open__top {
        display: none;
    }
    h1 {
        font-size: 30px;
        margin: 0 0 31px 0;
        width: 285px;
    }

    .head__section {
        position: relative;
        padding: 33px 0 341px 0;
        background: var(--7, linear-gradient(104.52deg, rgba(248, 249, 255, 1) 0%, rgba(231, 233, 246, 1) 100%));
    }

    .what__wrap {
        flex-wrap: wrap;
    }

    .what__block {
        width: 100%;
        padding: 0 8px 0 8px;
        margin-bottom: 16px;
    }

    .what__block_inner {
        height: auto;
    }

    .head__media_block {
        display: block;
    }

    .head__media_inner {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 0 22px 0;
    }

    .head__media_text {
        font-size: 23px;
        font-family: 'gilroy-medium';
        margin: 0 0px 0 0;
        width: 89%;
    }

    .head__media_text2 {
        font-size: 23px;
    }

    .head__media_icon img {
        width: 27px;
    }

    .head__media_icon {
        width: 8%;
    }

    .btn {
        width: 100%;
    }

    .head__section {
        position: relative;
        padding: 33px 0 233px 0;
        background: var(--7, linear-gradient(104.52deg, rgba(248, 249, 255, 1) 0%, rgba(231, 233, 246, 1) 100%));
    }

    .head__section:before {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        content: '';
        background: url(../images/diagram.svg) 50% 100% no-repeat;
        background-size: 96%;
    }

    h2 {
        font-size: 30px;
        font-weight: 400;
        margin: 0 0 40px 0;
    }

    .what__section {
        padding: 49px 0 50px 0;
    }

    .our__block {
        width: 100%;
        padding: 0 8px;
        margin: 0 0 20px 0;
    }

    .our__inner {
        padding: 22px 20px 23px 25px;
        font-size: 22px;
    }
    .our__inner {
        height: auto;
    }

    .our__inner3 {
        padding: 22px 20px 22px 25px;
    }
    .our__block3 .our__inner {
        padding: 22px 20px 23px 25px;
    }

    .our {
        padding: 42px 0 30px 0;
    }

    .form__wrap {
     
        padding: 32px 22px 32px 22px;
   
    }

    .form_input {
        border: none;
        background: #F2F3F7;
        width: 100%;
        font-size: 14px;
        margin: 0 0 20px 0;
    }

    .form__check_wrap {
        display: block;
    }

    .chekbox-title2 {
        font-size: 12px;
        font-weight: 300;
        padding: 0 0 30px 32px;
    }

    .etap {
        background: none;
        padding: 0 0 0 0;
        margin-bottom: 50px;
    }

    .etap__block {
        width: 100%;
        padding: 0 10px;
        margin-bottom: 16px;
    }

    .etap__inner {
        box-shadow: 0rem 0.25rem 0.5rem 0rem rgba(49, 27, 58, 0.1);
        padding: 15px 20px;
        background: #FFFFFF;
        height: auto;
    }

    .etap__inner {
        box-shadow: 0rem 0.25rem 0.5rem 0rem rgba(49, 27, 58, 0.1);
        padding: 23px 25px;
        background: #FFFFFF;
        height: auto;
    }

    .form__section {
        padding: 50px 0 50px 0;
    }

    .quest {
        background: var(--7, linear-gradient(104.52deg, rgba(248, 249, 255, 1) 0%, rgba(231, 233, 246, 1) 100%));
        padding: 29px 0;
        margin-bottom: 50px;
    }

    .quest__wrap .input__mail {
        width: 100%;
        margin-bottom: 15px;
    }

    .quest__wrap .btn {
        width: 100%;
    }

    .ft__wrap {
        display: block;
        margin: 0 0 50px 0;
    }

    .logo_bottom {
        width: 143px;
        margin-bottom: 30px;
    }

    .ft__inner a {
        color: #212529;
        display: block;
        text-decoration: none;
        font-size: 20px;
        font-weight: 300;
        margin: 0 0 8px 0;
    }

    .ft__inner span {
        display: block;
        font-size: 13px;
        color: #000;
    }

    .ft__block {
        display: flex;
        justify-content: space-between;
    }

    .ft__inner {
        text-align: right;
        padding: 0 0 0 0px;
    }

    .ft__info {
        color: #2A259A;
        display: block;
        font-size: 13px;
        font-weight: 300;
        margin: 0 0 16px 0;
    }

    .ft__info2 {
        margin: 0 0 30px 0;
    }

    .ft__about {
        font-weight: 300;
        font-size: 13px;
        line-height: 20px;
        margin: 0 0 30px 0;
    }

    .form__address {
        margin: 0;
        display: block;
    }

    .form__address input {
        margin: 0 0 20px 0;
    }

    .burger {
        display: block !important; 
    }

    .header-navigation-wr .menu__top {
        display: block !important;
    }

    .menu__top li a {
        font-size: 22px;
    }

    .menu__top li {
        padding: 0 5px;
        margin: 0 0 10px 0;
    }

    .header-navigation-wr .open__top {
        display: block !important;
        margin: 30px 0 0 0;
        width: 100%;
    }

    .btn__head {
        margin: 26px 0 0 0;
    }


}

/* Galaxy S8+*/ 
@media screen and (max-width: 480px) {
  
}

/* Galaxy*/ 
@media screen and (max-width: 415px) {
  
}


/* Iphone 6.7.8 */ 
@media screen and (max-width: 375px) {

}

/* Iphone 5.5SE */ 
@media screen and (max-width: 320px) {

}